<h1>tennants request maintanence</h1>

<div id="form">
	<form action="/form" method="POST">
		<div>
			<label id="name" for="name">Name:</label>
			<input type="text" id= "input1" name="username">
		</div>
		<div>
			<label id="property" for="email">Property Address:</label>
			<input type="text" id= "input2" name="email">
		</div>
		<div>
			<textarea id="commentbox" type="text" placeholder="Comments" name="comments"></textarea>
		</div>
			<div>
			<input id="button" type="submit" value="Submit">
			</div>
		</div>
	</form>
</div>


