/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Raleway");

body{
 	background: url(greencraftsman.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	font-family: Raleway;
 }

header{
	width: 102.5%;
 	height: 120px;
 	background-color: #9E9C9C;
 	color: white;
    opacity: .95;
    box-shadow: 0 15px 6px -9px #333;
    margin-left: -2%;
    margin-top: -1%;
}

.logo img{
	width:50px;
	height: 40px;
}

#phone{
	margin-left: 75%;
	margin-top: -4%;
	color: black;
}

#phone h1{
	font-size: 40px;
}

.landlord_login{
	margin-left: 325%;
	margin-top: -10%;
}

.landlord_login :hover{
	background-color: #7a7d82;
	color: white;
}

.tennant_login{
	margin-left: 360%;
	margin-top: -6%;
}

.tennant_login :hover{
	background-color: #7a7d82;
	color: white;
}

.home_btns{
	display: inline;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}

.home_btns :hover{
	color: white;
}

.footer {
	width: 101.5%;
	height: 125px;
	background-color: black;
	color: #DADADA;
	margin: 0;
	float: left;
	text-align: center;
	padding: 20px 0;
	position: absolute; 
	top: 950px;
	margin-left: -2%;
}

.footer p{
	margin-top: 100px;
}

.homes_for_rent{
	height: auto;
	width: 1200px;
	background: white;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#application_form{
	height: auto;
	width: 700px;
	background: white;
	margin-left: 350px;
	margin-top: 50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 15px 30px 15px;
	border-style: solid;
}

#tennant_login_form{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 15px 50px 15px;
	border-style: solid;
}

.contact_info{
	height: 250px;
	width: 700px;
	background: white;
	margin-left: 350px;
	margin-top: 50px;
	box-shadow: 0 20px 6px -9px #333;
	border-style: solid;
	padding: 1px 15px 30px 15px;
}

.contact_info h1{
	font-size: 30px;
}

#homes_for_rent{
	height: auto;
	width: 700px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#all_properties{
	height: auto;
	width: 700px;
	background: white;
	margin-left: 350px;
	margin-top: 50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#create_new_property{
	height: auto;
	width: 450px;
	background: white;
	margin-left: 450px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#all_tennants{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#tennant_edit{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#tennant_maintanence{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#tennant_pay{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#create_new_tennant{
	height: auto;
	width: 750px;
	background: white;
	margin-left: 350px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}

#edit_property{
	height: auto;
	width: 450px;
	background: white;
	margin-left: 450px;
	margin-top:50px;
	box-shadow: 0 20px 6px -9px #333;
	padding: 1px 5px 30px 0px;
	border-style: solid;
}
















































