<div align= center class= "contact_info">
	<div align=center id="properties_label">
		<h1>Contact Information</h1>

	<h3>Evolution Property Management</h3>
		
		<P>2281 West Temple<br>
		Suite 200<br>
		Salt Lake City, UT 84121<br>
		<br>
		Phone: 801-772-4444<br>
		Fax: 801-772-3444<br>
		Email: coordinator@evopropertymgt.com<br>
	</P>
	</div>
</div>
